body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 0% 0%,
      #f4d3ec,
      #f8a1e5);
    margin: 0;
}



.hidden {
    display: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    min-height: 70px;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    background: radial-gradient(circle at 0% 0%, 
        #f5d4ed, 
        #f26fd6
    );
    color: black;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.navbar * {
    line-height: 1;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-right {
    display:flex;
    flex-shrink: 0;
    flex: 1;
    align-items: center;
    gap: 16px;
    padding-right: 10px;
    justify-content: flex-end;
}

.nav-right a {
    /* Float links side by side */
    text-align: center;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 4px 6px;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 20px;
    /* Increased font size */
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    text-decoration: none;
}

.nav-right a:hover {
    background-color: #781e8a;

}

.nav-search {
    display: flex;
    flex: 0 1 500px;
    max-width: 600px;
    min-width: 0;
    margin: 0 20px;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    overflow: hidden;
}

.nav-search select,
.nav-search input,
.nav-search button {
    height: 100%;
    outline: none;
    padding: 6px;
    font-size: 16px;
    border: none;
}

.nav-search select {
    max-width: 140px;
    min-width: 0;
    background: #f2f2f2;
    padding: 0 10px;
    min-width: 170px;
    flex-shrink: 0;
}

.nav-search input {
    flex:1;
    padding: 0 10px;
}

.search-btn {
    background: rgb(241, 241, 154);
    border: none;
    height: 100%;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    min-width: 80px;
}

.search-btn i {
    font-size: 18px;
    color: black;
}

.nav-right a.sell-btn {
    padding: 15px;
    min-width: 30px;
    max-height: 2px;
    align-items: center;
    background-color: white;
    color: #f26fd6;
    border-radius: 10px;

}

.sell-btn .plus {
    font-size: 40px;
}
.logo-img {
    width: 100%;
    max-width: 180px;
    height: 80px;
    object-fit: contain;
    display:block;
}

.logo-img-link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 180px;
}

.st-font-size {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

 .st-colours{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

 .st-language{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

.wl-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-basket{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
  .nav-search {
    width: 100%;
    margin-top: 10px;
    order: 3;
    }

 .nav-right{
   gap: 10px;
  }

  .logo-img-link {
    max-width: 100px;
    }
}

h1 {
  margin-bottom: 1px;
}

#introduction, h1 {
  text-align: center;
  margin-top: 0;
}

#introduction {
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  text-align: center;
}

footer {
  font-size: 10px;
  text-align: center;
}

.create-listing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.create-listing-page h1{
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  justify-content: left;
  text-align: left;
}

.create-listing-page p {
  font-weight: 400;
  color: #666;
  font-size: 12px;
  text-align: left;
}



.listing-card {
  background: white;
  border-radius: 12px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 5px;
}

.listing-row {
  display: flex;
  align-items: centre;
  flex-wrap: wrap;
  padding: 18px;
  gap: 20px;
  min-width: 900px;
  min-height: 50px;
}

.listing-row label {
  font-size: 15px;
  min-width: 130px;
  padding-top: 6px;
}

.listing-row label::after {
  content: '';
}
.listing-row input, .listing-row select, .listing-row textarea {
  flex:1;
  border: none;
  outline: none;
  border-bottom: 2px solid #bdbdbd;
  font-size: 12px;
  background: transparent;
}

.listing-row input:focus, .listing-row select:focus, .listing-row textarea:focus {
  border-bottom: 2px solid #f26fd6;
}


.listing-row textarea {
  min-height: 100px;
}

.listing-card hr {
  margin: 0 24px;
  border: none;
  border-top: 1px solid #bdbdbd;
}

.listing-card  .item-image-hint {
  text-align: center;
}

.image-upload-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  margin: 20px;
  border-radius: 8px;
  min-width: 900px;
  max-width: 900px;
  min-height: 180px;
  height: auto;
  overflow: auto;
}

.image-upload-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: white;
  color: #f26fd6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  width: auto;
  font-size: 16px;
  cursor: pointer;
}

/*Button after image upload*/
.image-upload-btn.compact {
  width: 200px;
  height: 200px;
  padding: 0;
  border: 2px dashed #ccc;
  justify-content: center;
  font-size: 40px;
}

.image-upload-btn.compact .upload-image-text {
  display: none;
}

.image-upload-btn .plus {
    font-size: 30px;
}

.image-upload-btn:hover {
  background: #f7f6f6;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.image-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
}

#image-preview {
  display: flex;
  /*grid-template-columns: repeat(auto-fill, 100px);*/
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: auto;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
}

#image-preview img {
  display: block;
  flex-shrink: 0;
}

.image-wrapper {
  position: relative;
  width: 200px; 
  height: 200px; 
}

.remove-image-btn {
  position: absolute;
  top: 5px; 
  right: 5px;
  width: 24px; 
  height: 24px; 
  border: none;
  border-radius: 100%;
  background: white; 
  color: black; 
  font-size: 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
}

.remove-image-btn:hover {
  background-color: #bdbdbd;
}


input.invalid, select.invalid, textarea.invalid {
  border-color: #8e253a;
  color: #8e253a;
}

input.invalid::placeholder, select.invalid::placeholder, textarea.invalid::placeholder {
  color: #8e253a;
}

label::after {
  content: " *";
  color: red;

}

.hint {
  display: none;
  color: #8e253a;
  font-size: 0.85rem;
  margin-top: -12px;
  margin-bottom: 8px;
  margin-left: 150px;
  width: 100%;
}

.hint::before {
  content: '⭙'
}


.hint.visible {
  display: block;
}

.item-image-hint {
  margin: 0;
  text-align: center;
}

 .input-field {
  flex: 1;
  min-width: 0;
  width: 100%;
}

.input-field {
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.input-field input {
  margin-bottom: 12px;
}


/* Set a style for all buttons */
.upload-btn {
  background-color: #f26fd6;
  color: white;
  border: none;
  transition-duration: 0.4s;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.upload-btn:hover {
    background-color: #eb37c4;
}

.upload-btn-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


#divLoading, #divError, #divSuccess {
    text-align: center;
    padding-top: 10rem;
    display: none;
}

#divError h2 {
    color: #8e253a;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancel-btn,
  .signup-btn,
  .signup-btn-2 {
    width: 100%;
  }
}