body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    min-height: 70px;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    background: radial-gradient(circle at 0% 0%, 
        #f5d4ed, 
        #f26fd6
    );
    color: black;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.navbar * {
    line-height: 1;
}

.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-right {
    display:flex;
    flex-shrink: 0;
    flex: 1;
    align-items: center;
    gap: 16px;
    padding-right: 10px;
    justify-content: flex-end;
}

.nav-right a {
    /* Float links side by side */
    text-align: center;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 4px 6px;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 20px;
    /* Increased font size */
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    text-decoration: none;
}

.nav-right a:hover {
    background-color: #781e8a;

}

.nav-search {
    display: flex;
    flex: 0 1 500px;
    max-width: 600px;
    min-width: 0;
    margin: 0 20px;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    overflow: hidden;
}

.nav-search select,
.nav-search input,
.nav-search button {
    height: 100%;
    outline: none;
    padding: 6px;
    font-size: 16px;
    border: none;
}

.nav-search select {
    max-width: 140px;
    min-width: 0;
    background: #f2f2f2;
    padding: 0 10px;
    min-width: 170px;
    flex-shrink: 0;
}

.nav-search input {
    flex:1;
    padding: 0 10px;
}

.search-btn {
    background: rgb(241, 241, 154);
    border: none;
    height: 100%;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    min-width: 80px;
}

.search-btn i {
    font-size: 18px;
    color: black;
}

.nav-right a.create-listing-btn {
    padding: 15px;
    min-width: 30px;
    max-height: 2px;
    align-items: center;
    background-color: white;
    color: #f26fd6;
    border-radius: 10px;

}

.create-listing-btn .plus {
    font-size: 40px;
}
.logo-img {
    width: 100%;
    max-width: 180px;
    height: 80px;
    object-fit: contain;
    display:block;
}

.logo-img-link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 180px;
}

.st-font-size {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

 .st-colours{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

 .st-language{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 25px;
 }

.wl-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-basket{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
  .nav-search {
    width: 100%;
    margin-top: 10px;
    order: 3;
    }

 .nav-right{
   gap: 10px;
  }

  .logo-img-link {
    max-width: 100px;
    }
}
